<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.firesafety">

    <application
        android:layout_centerHorizontal="true"
        android:layout_centerVertical="true"
        android:layout_gravity="center"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FireSafety">
        <activity
            android:name=".MyAdapter2"
            android:exported="true" />
        <activity
            android:name=".ui.main.MyAdapter2"
            android:exported="true" />
        <activity
            android:name=".causes"
            android:exported="true" />
        <activity
            android:name=".tabbed"
            android:exported="true"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/Theme.FireSafety.NoActionBar" />
        <activity
            android:name=".information"
            android:exported="true" />
        <activity
            android:name=".FireInformation"
            android:exported="true" />
        <activity
            android:name=".MyAdapter"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".videos"
            android:exported="false" />
        <activity
            android:name=".procedure"
            android:exported="false" />
        <activity
            android:name=".knowledge"
            android:exported="false" />
        <activity
            android:name=".help"
            android:exported="false" />
        <activity
            android:name=".facts"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>